.book-container {
    width: 100%;
    height: 100vh;
    overflow-y:scroll;
}

.book-link {
    color: #fff;
    padding: 20px;
    display: flex;
    align-items: center;
}

.book-link:hover {
    text-decoration: none;
    color: #26C28B;
    background-color: #fff;
}

#sidebar {
    background-color: #26C28B;
}

.title {
    color: #26C28B;
    font-weight: 700;
}

.book-title {
    color: #26C28B;
    font-weight: 700;
}

#input-book, #input-author, #input-price {
    padding: 20px 0;
    border: none;
    outline: none;
    border-bottom: 2px solid gainsboro;
}

#input-file {
    display: none;
}

#add-book {
    padding: 10px 20px;
    border-radius: 20px;
    background-color: #26C28B;
    color: #fff;
    border: none;
    outline: none;
    cursor: pointer;
}

#file-label {
    padding: 12px 20px;
    border-radius: 25px;
    color: #26C28B;
    cursor: pointer;
    border: 2px solid #26C28B;
}

#file-label:hover {
    color: #fff;
    background-color: #26C28B;
    transition: all 0.3s ease-in-out;
}

#manage-table {
    overflow-x: scroll;
}

#manages-table {
    overflow-x: scroll;
    margin-top: 100px;
}