#book-image{
    height:300px;
}
#single-card{
    border: transparent;
    border-radius: 16px;
}
.price-title{
    font-size: 30px;
}
#buy{
    background-color:#FF5733;
    outline:none;
    border:none;
    padding:10px 15px ;
    border-radius:25px;
}
