#search-form{
    width:30%;
}
#jumbotrons{
    background-color: transparent;
}
.title{
    font-weight: bold;
    text-transform: uppercase;
}
.bold-text{
    font-size: 50px;
}
#brand-title{
    font-size:30px;
    font-weight: 700;
    color:#fff ;
    letter-spacing: 5px;
}
#login-title{
    background-color:#fff;
    outline:none;
    border:none;
    padding:10px 15px ;
    border-radius:25px;
}
